---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Hey! I'm Talin Sharma</h1>
	<h2>A student who develops websites and loves learning about new technologies.</h2>
	<p>...</p>
</Layout>

<style>
</style>
