<div id="nav">
	<a id="homeLink" href="/">
		<span id="logoTerminal">
			&gt;
			<span id="logoName">
				<span id="logoCursor" class="on">&nbsp</span>
			</span>
		</span>
		<div id="otherLinks">
			<a id="projectsLink">Projects</a>
			<a id="blogLink" href="./blog.html">Blog</a>
			<a id="aboutLink">About Me</a>
		</div>
	</a>

	<script>
		let typewriterStep = 0;
		let name = "Talin Sharma\u2009";
		let speed = 100;

		function typeWriter() {
			let cursor = document.getElementById("logoCursor");
			if (typewriterStep < name.length) {
				cursor.parentNode.insertBefore(
					document.createTextNode(name.charAt(typewriterStep)),
					cursor,
				);
				typewriterStep++;
				setTimeout(typeWriter, speed);
			} else {
				// cursor.parentNode.insertBefore(document.createTextNode(""), cursor);
				setInterval(() => {
					let cursor = document.getElementById("logoCursor");
					cursor.classList.contains("on")
						? cursor.classList.remove("on")
						: cursor.classList.add("on");
				}, 750);
			}
		}
		typeWriter();
	</script>

	<style lang="scss">
		#nav {
			display: grid;
			grid-template-columns: 35% 65%;
			place-content: center;
			border-bottom: 1px solid var(--grey-dark);
			padding-bottom: 15px;
		}

		#homeLink {
			grid-column: 1;
			font-size: 28px;
			text-decoration: none;
			color: var(--primary);
			max-width: max-content;
			transition: 0.4s;

			&:hover {
				cursor: pointer;
				color: var(--accent);
			}

			&:hover #logoCursor:where(.on) {
				background-color: var(--accent);
			}

			#logoTerminal {
				font-weight: bold;
			}

			#logoCursor {
				transition: 0.3s;

				&:where(.on) {
					background-color: var(--primary);
				}
			}
		}

		#otherLinks {
			grid-column: 2;
			display: flex;
			align-items: center;
			justify-content: end;
			font-size: 18px;

			& a {
				margin: 0px 15px;
				color: var(--primary);
				text-decoration: underline;
				text-underline-offset: 15%;
				transition: 0.4s;
			}
			& a:hover {
				color: var(--accent);
				cursor: pointer;
			}
		}
	</style>
</div>
