---
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<div id="page">
			<Navbar/>
			<div id="content">
				<slot />
			</div>
		</div>
	</body>

	<style lang="scss" is:global>
		:root {
			--light-background: #f8f8f8;
			--light-main-text: #333;
			--light-accent: #ff6347;
			--light-secondary-text: #666;
			--light-link: #ff6347;
			--light-hover: #3498db;
			--light-border: #333;

			--dark-background: #1e1e1e;
			--dark-main-text: #f8f8f8;
			--dark-accent: #ff6347;
			--dark-secondary-text: #cccccc;
			--dark-link: #ff6347;
			--dark-hover: #3498db;
			--dark-border: #333;
		}

		*{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
		}

		body {
			background-color: var(--dark-background);
			color: var(--dark-main-text);
			font-family: "Courier Prime", monospace;
		}

		#page {
			width: 75vw;
			margin: auto;
			padding: 15px;
			margin-top: 15px;
		}

		
		#content {
			margin-top: 25px;
			padding: 10px;
		}
		h1 {
			font-size: 32px;
			margin: 5px 0px;
			color: var(--dark-main-text);
		}

		h2 {
			font-size: 18px;
			margin: 0px;
			color: var(--dark-secondary-text);
		}

		p {
			margin: 25px 0px;
			color: var(--dark-main-text);
		}
	</style>
</html>
